---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/writes/PostPreview.astro'

import { Image } from 'astro:assets'
import avatar from '../assets/avatar.png'

import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['Go', 'C/C++', 'Rust']
const backend = ['Git', 'Docker', 'PostgreSQL', 'MongoDB', 'Redis']
const spokenLanguages = ['Russian - Native', 'English - B2', 'Spanish - A1']

const MAX_POSTS = 3
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image src={avatar} alt='profile photo' class='h-28 w-auto rounded-full' loading='eager' />

			<div class='flex flex-col items-center gap-y-4'>
				<div class='flex flex-col items-center'>
					<h1 class='text-3xl font-bold'>Artem F.</h1>
					<h1 class='text-xl text-muted-foreground'>@ndbtea</h1>
				</div>
				<a
					href='https://t.me/m/2p5M4X-CMWIy'
					class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm hover:shadow-md'
				>
					<span class='relative flex items-center justify-center'>
						<span
							class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
						></span>
						<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
					</span>

					<p class='font-medium'>Contact me</p>
				</a>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				I'm a young backend (not only) developer with ~3 years of development expirience
				(non-commercial) and pretty cool sense of humor
			</p>
		</Section>

		<Section title='Education'>
			<Card
				heading='Computer Science'
				subheading='Bachelour - Samara National Research University named after Academician S.P. Korolev, Samara'
				date='Sep 2023 - present'
				altText='Computer Science bachelour'
			/>
		</Section>

		<Section title='Projects'>
			<!-- <Card
				heading='yodreik'
				subheading='Stop lying on the couch'
				date='Aug 2024 - present'
				altText='WIS - Programming Language'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Server application for <b>yodreik</b> fitness application</li>
					<li>Written in Go</li>
				</ul>
				<a href='https://github.com/yodreik/backend'>Source Code</a>
			</Card> -->

			<Card
				heading='wis'
				subheading='Programming language'
				date='Dec 2023 - Feb 2024'
				altText='WIS - Programming Language'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Stack-based, compiling, concatenative programming language</li>
					<li>Originally written in C++, got the “rewrite in Rust” disease</li>
					<li>Deployed with Docker & configured CI/CD</li>
				</ul>
				<a href='https://github.com/jus1d/wis'>Source Code</a>
			</Card>

			<Card
				heading='qarwett'
				subheading='Take a quick look at the schedule and go back to sleep'
				date='Sep 2023 - Dec 2023'
				altText='University schedule bot'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Telegram-based interface for quick viewing of university class schedules</li>
					<li>Written in Go</li>
				</ul>
				<a href='https://github.com/jus1d/qarwett'>Source Code</a>
			</Card>

			<Card
				heading='make.sh'
				subheading='Shorten your long af urls'
				date='Jun 2023 - Sep 2023'
				altText='make.sh URL shortener'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Web-application for creating shortened URLs</li>
					<li>Backend written in Go (Gin, PostgreSQL and Redis)</li>
					<li>Frontend built with Next.js framework</li>
					<li>Teleram bot in addition</li>
					<li>Whole application wrapped with Docker for easy deploy</li>
				</ul>
				<a href='https://github.com/makeshort'>Source Code</a>
			</Card>
		</Section>

		{
			allPostsByDate.length > 0 && (
				<Section title='Latest writes'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Speak' skills={spokenLanguages} />
		</Section>
	</div>
</PageLayout>
